<!DOCTYPE html>
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{{page.title}}</title>
		<link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=0.6, maximum-scale=1.0" />
	</head>
	<body>
		<header>
			<h1>freakin' code findings</h1>
			<p id="tagline">Please someone find me on google</p>
		</header>
		<nav>
			<ul>
				<li><a href="/" title="The most recent posts.">Home</a></li>
				<li><a href="/posts/" title="All the other posts.">Interviews</a></li>
				<li><a href="/about/" title="A little more info about the site.">About</a></li>
			</ul>
		</nav>
		<section id="contents">
		{{content}}
		</section>
		<footer>
			<p>This is a <a href="http://www.hjhart.com" title="Some website.">hjhart</a> webbysite. Follow us <a href="http://twitter.com/hjhart/" title="Our Twitter account.">on Twitter</a>, or grab <a href="http://github.com/hjhart/hjhart.github.com/" title="The source code for this site.">the Ruby source code</a> (complements of <a href="http://github.com/waferbaby/usesthis/" title="The source code for this site.">waferbaby</a>). Unless otherwise noted, everything is available via the <a href="http://creativecommons.org/licenses/by-sa/2.5/au/" title="A Creative Commons license.">Attribution-Share Alike</a> license.</p>
	  	</footer>
	</body>
</html>