---
layout: default
---
<article class="overview">
	{% if page.credits %}<p class="credits">Credits: {% if page.credits.url %}<a href="{{page.credits.url}}" title="{{page.title}} by {{page.credits.name}}.">{{page.credits.name}}</a>{% else %}{{page.credits.name}}{% endif %}</p>{% endif %}
	<h2 class="title">{{page.title}}</h2> 
	<p class="summary">{{page.summary}}</p>
	<time datetime="{{page.date | date: "%Y-%m-%d"}}">{{page.date | date: "%B %d, %Y"}}</time>
</article> 
<article class="contents">
	{{content}}
</article>